body {
	background-color: rgb(221, 4, 4);
	color: rgb(14, 14, 15);
}
h1 {
	font-size: 50px;
	text-align: center;
	color: white;
}

h2 {
	font-family: Lobster, Monospace;
	font-size: 36px;
	color: white;
}

h3 {
	font-family: Lobster, Monospace;
	font-size: 24px;
	color: white;
}

p {
	font-size: 16px;
	font-family: lobster, Monospace;
	color: white;
}

.thick-white-border {
	border-color: white;
	border-width: 10px;
	border-style: solid;
}

.bigger-image {
	width: 100%;
	height: auto;
}

footer {
	background-color: black;
	padding: 10px;
	text-align: center;
	color: white;
}

footer a {
	color: white;
}

footer a:hover {
	color: yellow;
}